@{
  Layout = "_Layout";
}

@if (ViewBag.Message != null)
{
  <p>@ViewBag.Message</p>
}

<h2>Login</h2>
<p>username = "secret" and password = "secret"</p>

<form method="post" action="/"> 
  <label for="username">User Name</label>
  <input type="text" name="username" id="username">
  <label for="password">Password</label>
  <input type="text" name="password" id="password">
  <button type="submit" class="btn btn-secondary">Log In</button>
</form>
