@{
  Layout = "_Layout";
}

@using ParksApi.Models

<h2>LogIn Successful!</h2>
<p>You have been issued a JWT and are authorized to make API calls from ParksApi</p>

<p>Here's are a few of the parks on the West Coast:</p>
<ul>
@foreach (Park park in Model)
{
  <li>@park.Name</li>
}
</ul>

<p>Got to swagger to test out all of the API methods: http://localhost:5000/swagger</p>
<br>
<br>
<p>You will have to copy the token below and use it to for the "Authorize" form on Swagger (top right)</p>
<br>
<br>
<p>Hurry! Your token will expire after 20 minutes. At that time, you'll have to log in again to generate a new token</p>

<p>Your Token is:</p>
<div class="token"><p>@ViewBag.Token</p></div>
